html, body, main {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f2f2f2;
  min-width: 350px;
}

strong {
  font-weight: bold;
  color: #53e0cd;
}


/* Tile Container and Tile styling*/
.tileContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.tile {
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* max-width: 1220px;; */
    /* align-content: center; */
}

/* .tile > h1, .tile > strong {
  text-align: center;
} */

.tile h1 {
  font-size: 1.8rem;
}

.blackTile > h1 {
  margin-top: 150px;
  margin-bottom: 150px;
}

.whiteTile {
    background-color: #fff;

}

.blackTile {
    background-color: #333333;
}


/* Image Styling */

.imgContainer > img {
  width: 100%;
}

.logoContainer {
  width: 500px;
  margin-top: 60px;
  /* width: 80%; */
  /* margin-left: auto;
  margin-right: auto; */
}

.welcomeContainer {
  width: 300px;
}

.logoContainer> h1 {
  /* text-align: center; */
  text-align: justify;
  /* text-justify: distribute; */
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
}


.logInButton {
  display: block;
  height: 46px;
}

label {
  color: #ffffff;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

button {
  height: 46px;
}

.signInButton > img {
  vertical-align: text-top;
}

.signInButton > a {
  width: 100px;
}

.login {
  width: 240px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 4px;
}

.login > img {
  margin-right: 16px;
}

.login > a {
  text-decoration: none;
  color: #808080;
}


/* .login > a {
  height: 46px;
  margin-top: -5px;
  margin-bottom: 10px;
  width: 30px;
  text-decoration: none;
} */

/* a {
  height: 46px;
} */


/* .buttonContainer {
  width: 80px;
} */