.tileContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.tile {
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-content: center; */
}

.tile > h1, .tile > strong {
  text-align: center;
}

.whiteTile {
    background-color: #fff;
}

.blackTile {
    background-color: #333333;
}


/* .buttonContainer {
  width: 80px;
} */